* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 30px auto;
  background-color: rgb(96, 135, 204);
}

div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  margin: 0 auto;
}

div input {
  width: 70%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 15px;
}

div button {
  width: 20%;
  border: none;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}

div button:hover {
  background-color: blue;
  color: #fff;
}

section {
  margin: 50px auto;
  font-size: 30px;
}
